html {
    font-family: Arial, sans-serif;
    background-color: #8ca679;
    color: #7CFC00;
    margin: 10px;
    display: inline-block;
    -webkit-text-stroke: 0.1px black;
    text-align: center;
}

body {
    display: inline-block;
    text-align: center;
    margin: 0;
}

h1, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.125rem;
    text-decoration: underline #7CFC00;
}

#survey-form {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 820px;
    background-color: #e97451;
    text-align: left;
    display: inline-block;
}

#survey-form div {
    margin-bottom: 10px;
}

#survey-form label {
    font-weight: bold;
}

#survey-form input[type="text"],
#survey-form input[type="email"],
#survey-form input[type="number"],
#survey-form select,
#survey-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#survey-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#survey-form button[type="submit"]:hover {
    background-color: #45a049;
}
